/packages
/PaddleBuddy/PaddleBuddy.Core/obj
/PaddleBuddy/PaddleBuddy.Core/bin
/PaddleBuddy/PaddleBuddy.Droid/obj
/PaddleBuddy/PaddleBuddy.Droid/bin
/PaddleBuddy/PaddleBuddy.iOS/obj
/PaddleBuddy/PaddleBuddy.iOS/bin
/.vs
/*.suo
/packages/PaddleBuddy/PaddleBuddy.Droid/Resources/Resource.designer.cs
