/packages
/PaddleBuddy/PaddleBuddy.Core/obj
/PaddleBuddy/PaddleBuddy.Core/bin
/PaddleBuddy/PaddleBuddy.Droid/obj
/PaddleBuddy/PaddleBuddy.Droid/bin
/.vs
/PaddleBuddy/PaddleBuddy.iOS/obj
/PaddleBuddy/PaddleBuddy.iOS/bin
